@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");


body {
  font-family: 'Hind';
  height: 100%;
}

container {
  display: block;
}



/* Beginning of navigation styling */


.navbar {
  background: #17AA1C;
  padding: 25px;
  font-size: 1.8rem;
  border-width: 0;
}


.navbar-header.page-scroll a {
  color: white;
  font-size: 4rem;
  letter-spacing: 3px;
}

.navbar-header.page-scroll a:hover {
  color: #ee2f72;
}

.nav.navbar-nav.navbar-right a {
  color: white;
  letter-spacing: 1px;
}

.nav.navbar-nav.navbar-right a:hover {
  color: #ee2f72;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.navbar-default .navbar-toggle:hover {
  background-color: #123857;
}

.navbar-default .navbar-toggle.collapse .navbar-collapse.collapse {
  background-color: #123857;
}

/* End of Navigation Style */

/*Beginning of header styling*/
#myBio {
  text-align: center;
  top: 200px;
}

.img-responsive {
  height: 250px;
  width: 250px;
  position: relative;
  left: 50%;
  overflow: hidden;
  margin-left: -125px
}


.list-inline li a{
  color: #123857;
  margin-right: 15px;
}

.list-inline li a:hover {
  color: #ee2f72;
}

.fa.fa-3x.fa-angle-double-down {
  color: #123857;
  margin-top: 20px;
}

.fa.fa-3x.fa-angle-double-down:hover {
  color: #ee2f72;
}

.intro-text h4 {
  color: #ee2f72;
  font-size: 1.75rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.intro-text h1 {
  letter-spacing: 10px;
  font-size: 5rem;
  margin-top: 30px;
}

/*end of header styling*/

/*beginning of about me styling*/

#aboutme { 
  height: 110vh;
  padding-top: 50px;
  text-align: center;
  background: #f7f7f7;
  position: relative;
  top: 300px;
  background-image: url("http://previews.123rf.com/images/enotmaks/enotmaks1404/enotmaks140400007/27513122-Vector-flat-illustration-of-process-coding-and-programming-mobile-applications-for-devices-Design-an-Stock-Vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#aboutme h2 {
  letter-spacing: 12px;
  font-size: 3em;
  margin-bottom: 170px;
  margin-top: 100px;

}

#aboutme h3 {
  line-height: 40px;
  vertical-align: middle;
  color: #000;
  font-family: Verdana;
  font-weight: 900;
}



#aboutme a{
  text-decoration: none;
  color: red;
}

/*end of aboutme styling*/
#portfolio { 
  height: 110vh;
  padding-top: 50px;
  text-align: center;
  background: white;
  position: relative;
  top: 300px;
}

#portfolio h2 {
  letter-spacing: 12px;
  font-size: 3em;
  margin-bottom: 75px;
  margin-top: 100px;
}

#portfolio .thumbnail {
  border-color: #123857;
  padding: 0px;
  min-height: 200px;
  border-radius: 0;
  margin-bottom: 40px;
  overflow: hidden;
}

#portfolio .thumbnail:hover {
  border-color: #ee2f72;
}

#portfolio .thumbnail img{
  min-height: 200px;
}

/*end of portfolio styling */

/*begnning of footer styling */

footer {
  margin-top: 100px;
  background-color: #17AA1C;
  height: 130px;
  color: white;
  overflow: hidden;
  position: relative;
  }

footer p {
  vertical-align: center;
  margin-top: 8%;
  margin-bottom: 0px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ee2f72;
}

.fa-envelope-o{
  margin-left: 90px;
}
